---
import BaseLayout from "../layouts/BaseLayout.astro";
import Experience from "../components/Experience/Experience.astro";
import HelloComponent from "../components/HelloComponent.jsx";
---

<BaseLayout>
  <h1 class="text-3xl font-bold">Sobre mí</h1>
  <p>
    Hola, soy Yimmi4000, un desarrollador apasionado por el código limpio y bien
    estructurado.
  </p>
  <h1>About xdxd</h1>
  <Experience title="Experiencia 1" text="Descripcion de la experiencia" />
  <Experience title="Experiencia 2" text="Descripcion de la experiencia" />
  <HelloComponent client:load />
</BaseLayout>
