---
import BaseLayout from "../layouts/BaseLayout.astro";
import Experience from "../components/Experience/Experience.astro";
---

<!--
  .                          CSS PURO         ==   TAILWIND
  (Tamaño de la fuente): font-size: 3rem;     == text-3xl - establece el tamaño del texto a 3 veces el tamaño base
  (Negrita)            : font-weight: bold;   == font-bold - aplica negrita al texto 
  (Margen superior)    : margin-top: 4rem;    == mt-16 - aplica un espacio de margen superior 
  (Margen inferior)    : margin-bottom: 1rem; == mb-4 - aplica un espacio de margen inferior
  -->
<BaseLayout activePage="about">
  <h1 class="text-3xl font-bold mt-16 mb-4">Sobre mí</h1>

  <p class="mb-4">
    Hola, soy Yimmy Fabian Muñoz Rincon, desarrollador de software apasionado
    con un título en Ingeniería de Sistemas en la Universidad de la Amazonia en
    Colombia. He trabajado en la creación de páginas web, diversos proyectos
    propios y universitarios. Me apasiona la innovación tecnológica y la calidad
    en el desarrollo de soluciones digitales. También complemento mi formación
    académica con aprendizaje autónomo utilizando diversas plataformas
    digitales.
  </p>

  <h2 class="text-2xl font-bold">Habilidades</h2>
  <p>
    Java JavaScript C# C++ Node.js Express.Js .NET HTML CSS Unity MYSQL
    PostgreSQL MONGODB Adobe Photoshop Adobe Illustrator CorelDraw Desarrollo
    IoT Comunicación MQTT (Aqui poner cada una con su respectivo logo y en
    carrucel de movimiento)
  </p>

  <h2 class="text-2xl font-bold">Experiencia</h2>
  <Experience
    title="Experiencia 1"
    description="Descripcion de la experiencia"
    time="04/2022 - 08/2022"
    technologies={["Node", "TypeScript", "Tailwind"]}
  />
  <Experience
    title="Experiencia 2"
    description="Descripcion de la experiencia 2"
    time="04/2022 - 08/2022"
    technologies={["React", "TypeScript"]}
  />
  <Experience
    title="Experiencia 3"
    description="Descripcion de la experiencia 3"
    time="04/2022 - 08/2022"
    technologies={["Astro", "TypeScript", "Un PC"]}
  />
  <Experience
    title="Experiencia 4"
    description="Descripcion de la experiencia 4"
    time="04/2022 - 08/2022"
    technologies={[
      "Astro",
      "TypeScript",
      "Un PC",
      "Una silla",
      "React",
      "Git",
      "Vercel",
      "Otras cosas xd",
    ]}
  />
  <Experience
    title="Experiencia 5"
    description="Descripcion de la experiencia 5"
    time="04/2022 - 08/2022"
    technologies={["Astro"]}
  />
</BaseLayout>
