---
import BaseLayout from "../layouts/BaseLayout.astro";
import Experience from "../components/Experience/Experience.astro";
---

<BaseLayout activePage="about">
  <!-- Titulo de la pagina about  -->
  <h1 class="text-[3rem] font-bold text-center mt-16 mb-4">Acerca de mí</h1>

  <!-- Parrafo introductorio -->
  <p class="text-base text-center mb-2 text-[#4a4a4a]">
    Hola, soy Yimmy Fabian Muñoz Rincon, desarrollador de software apasionado
    con un título en Ingeniería de Sistemas en la Universidad de la Amazonia en
    Colombia. He trabajado en la creación de páginas web, diversos proyectos
    propios y universitarios. Me apasiona la innovación tecnológica y la calidad
    en el desarrollo de soluciones digitales. También complemento mi formación
    académica con aprendizaje autónomo utilizando diversas plataformas
    digitales.
  </p>
  <p class="text-base text-center mb-4 text-[#4a4a4a]">
    Me apasiona aprender nuevas tecnologías y enfrentar desafíos que me permitan
    crecer como profesional. Siempre estoy buscando oportunidades para colaborar
    en proyectos interesantes y contribuir al éxito de equipos dinámicos.
  </p>

  <!-- Sub titulo de la pagina about (Habilidades) -->
  <h2 class="text-[2rem] font-bold mt-8 mb-4 text-[#2a2a2a]">Habilidades</h2>

  <!-- Contenedor de imagenes para el carrucel -->
  <div class="logos-container overflow-hidden relative">
    <!-- Contenedor de imagenes -->
    <div class="logos-track flex animate-scroll">
      <!-- Fila que contiene los logos -->
      <!-- Logo 1 -->
      <div class="logo-item px-6">
        <img
          src="public/images/Java.png"
          alt="Java Logo"
          class="w-full h-full"
          draggable="false"
        />
      </div>

      <!-- Logo 2 -->
      <div class="logo-item px-6">
        <img
          src="public/images/JavaScript.png"
          alt="JavaScript Logo"
          class="w-full h-full"
          draggable="false"
        />
      </div>

      <!-- Logo 3 -->
      <div class="logo-item px-6">
        <img
          src="public/images/Cchat.png"
          alt="C# Logo"
          class="w-full h-full"
          draggable="false"
        />
      </div>

      <!-- Logo 4 -->
      <div class="logo-item px-6">
        <img
          src="public/images/C++.png"
          alt="C++ Logo"
          class="w-full h-full"
          draggable="false"
        />
      </div>

      <!-- Duplicamos los logos para el efecto continuo, solo si son poquitos, de lo contrario no se duplican -->
      <!-- Logo 1 -->
      <div class="logo-item">
        <img
          src="public/images/Java.png"
          alt="Java Logo"
          class="w-full h-full"
          draggable="false"
        />
      </div>

      <!-- Logo 2 -->
      <div class="logo-item">
        <img
          src="public/images/JavaScript.png"
          alt="JavaScript Logo"
          class="w-full h-full"
          draggable="false"
        />
      </div>

      <!-- Logo 3 -->
      <div class="logo-item">
        <img
          src="public/images/Cchat.png"
          alt="C# Logo"
          class="w-full h-full"
          draggable="false"
        />
      </div>

      <!-- Logo 4 -->
      <div class="logo-item">
        <img
          src="public/images/C++.png"
          alt="C++ Logo"
          class="w-full h-full"
          draggable="false"
        />
      </div>
    </div>
  </div>

  <!-- Sub titulo de la pagina about (Experiencia) -->
  <h2 class="text-[2rem] font-bold mt-8 mb-4 text-[#2a2a2a]">Experiencia</h2>

  <!-- Tarjeta de experiencia 1 -->
  <Experience
    time="Abril - Agosto 2022"
    title="Desarrollador front-end · RGA Laboratorio Naturista Amazónico"
    description="Me especialicé en el desarrollo del frontend para un e-commerce. Mi trabajo incluyó la disposición de componentes, la gestión de imágenes y la presentación de productos, así como la navegación entre páginas. Utilicé React para crear una interfaz de usuario atractiva y funcional, y colaboré en la integración de una pasarela de pagos y en el despliegue de la aplicación. Este proyecto permitió a la empresa modernizar sus ventas en línea."
    technologies={[
      "React",
      "Node.js",
      "Express",
      "PostgreSQL",
      "HTML & CSS",
      "Wompi",
      "Hostinger",
    ]}
  />

  <!-- Tarjeta de experiencia 2 -->
  <Experience
    time="Abril - Agosto 2022"
    title="Desarrollador front-end · RGA Ingenieros Metalurgicos"
    description="Me especialicé en el desarrollo del frontend para un e-commerce. Mi trabajo incluyó la disposición de componentes, la gestión de imágenes y la presentación de productos, así como la navegación entre páginas. Utilicé React para crear una interfaz de usuario atractiva y funcional, y colaboré en la integración de una pasarela de pagos y en el despliegue de la aplicación. Este proyecto permitió a la empresa modernizar sus ventas en línea."
    technologies={[
      "React",
      "Node.js",
      "Express",
      "PostgreSQL",
      "HTML & CSS",
      "Wompi",
      "Hostinger",
    ]}
  />

  <!-- Tarjeta de experiencia 3 -->
  <Experience
    time="Abril - Septiembre 2022"
    title="Desarrollador front-end · ONG Preparación Metalmecánica"
    description="Me especialicé en el desarrollo del frontend para su página web. Creé una interfaz de usuario clara y funcional, con secciones para publicaciones de noticias, imágenes con descripciones, y formularios para la inscripción a cursos y contribuciones al fondo de la organización. Este proyecto permitió a la ONG mejorar su alcance y facilitar la interacción con sus beneficiarios y donantes."
    technologies={[
      "React",
      "Node.js",
      "Express",
      "PostgreSQL",
      "HTML & CSS",
      "Wompi",
      "Hostinger",
    ]}
  />

  <!-- Tarjeta de experiencia 4 -->
  <Experience
    time="2022 - 2024"
    title="Diseñador grafico · Tonny Sport"
    description="Me especialicé en el diseño de uniformes deportivos para disciplinas como fútbol, baloncesto y voleibol. Me encargué de la creación de plantillas y diseños personalizados, utilizando herramientas como Adobe Illustrator y Corel Draw. Además, realicé intervenciones en imágenes y logos proporcionados por los clientes, optimizando su calidad y adaptándolos para su uso en los uniformes. También me especialicé en la vectorización de escudos y logos corporativos, asegurando que los diseños fueran precisos y de alta calidad."
    technologies={["Adobe Photoshop", "Adobe Illustrator", "CorelDraw"]}
  />

  <!-- Estilos -->
  <style>
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .animate-scroll {
      animation: scroll 20s linear infinite;
    }

    .logos-track.paused {
      animation-play-state: paused;
    }
  </style>

  <!-- Script -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Define el tipo de "track" como HTMLElement
      const track = document.querySelector(".logos-track");
      if (!track) return; // Asegúrate de que "track" existe

      let isDragging = false;
      let startX = 0;
      let scrollLeft = 0;

      track.addEventListener("mousedown", (e) => {
        isDragging = true;
        startX = e.pageX - track.offsetLeft;
        scrollLeft = track.scrollLeft;
        track.classList.add("paused");
      });

      track.addEventListener("mousemove", (e) => {
        if (!isDragging) return;
        e.preventDefault();
        const x = e.pageX - track.offsetLeft;
        const walk = (x - startX) * 2;
        track.scrollLeft = scrollLeft - walk;
      });

      track.addEventListener("mouseup", () => {
        isDragging = false;
        track.classList.remove("paused");
      });

      track.addEventListener("mouseleave", () => {
        isDragging = false;
        track.classList.remove("paused");
      });
    });
  </script>
</BaseLayout>
