---
import BaseLayout from "../layouts/BaseLayout.astro";
// import "../styles/global.css";
---

<BaseLayout>
  <h1 class="text-3xl font-bold">Bienvenido a mi Portafolio</h1>
  <p>Explora mi experiencia y proyectos.</p>
</BaseLayout>
