---
import BaseLayout from "../layouts/BaseLayout.astro";
// import "../styles/global.css";
---

<!--
  .                          CSS PURO         ==   TAILWIND
  (Tamaño de la fuente): font-size: 1rem;     == text-base - establece el tamaño del texto base de 1rem
  (Tamaño de la fuente): font-size: 2rem;     == text-2xl - establece el tamaño del texto de 2rem
  (Tamaño de la fuente): font-size: 3rem;     == text-5xl - establece el tamaño del texto de 3rem

  (Negrita)            : font-weight: bold;   == font-bold - aplica negrita al texto 

  (Margen superior)    : margin-top: 4rem;    == mt-16 - aplica un espacio de margen superior de 4rem
  (Margen inferior)    : margin-bottom: 1rem; == mb-4 - aplica un espacio de margen inferior de 1rem
  -->
<BaseLayout activePage="index">
  <h1 class="text-5xl font-bold text-center mt-16 mb-4">
    Bienvenido a mi Portafolio
  </h1>

  <p class="text-base text-center mb-4">
    Ingeniero de sistemas apasionado por la tecnología y el diseño de software,
    con experiencia en el desarrollo de software y en la creación de soluciones
    funcionales y bien estructuradas. Me esfuerzo por mantener un código limpio
    y aplicar buenas prácticas. Soy autodidacta, siempre en busca de nuevos
    conocimientos y oportunidades para innovar y contribuir a desarrollos que
    generen un impacto positivo.
  </p>

  <p>(Poner en forma de link directo al pdf de la CV)</p>

  <!-- 
  aspect-[21/9]: Mantiene la relación de aspecto 21:9 sin importar el tamaño de la pantalla.
  object-cover : Asegura que la imagen cubra todo el espacio sin distorsionarse.
  block        : Evita espacios no deseados debajo de la imagen.
  -->

  <div>
    <!-- 
      aspect-[21/9]: Mantiene la relación de aspecto 21:9 sin importar el tamaño de la pantalla.
      object-cover : Asegura que la imagen cubra todo el espacio sin distorsionarse.
      block        : Evita espacios no deseados debajo de la imagen.
    -->
    <img
      src="src/assets/images/portada-portafolio-jpg.jpg"
      alt="Imagen de bienvenida al portafolio"
      class="w-full aspect-[32/9] object-cover block"
    />
  </div>
  

  <p class="text-xs text-right mt-2">"Codificando el futuro, un proyecto a la vez"</p> <!-- text-[0.75rem] == para poner el rem en decimal -->
</BaseLayout>
