---
import BaseLayout from "../layouts/BaseLayout.astro";
import HelloComponent from "../components/HelloComponent.jsx";
---

<BaseLayout activePage="projects">
  <!-- h1                    CSS PURO        ==   TAILWIND
  (Tamaño de la fuente): font-size: 3rem;    == text-3xl - establece el tamaño del texto a 3 veces el tamaño base
  (Negrita)            : font-weight: bold;  == font-bold - aplica negrita al texto -->
  <h1 class="text-3xl font-bold">Mis Proyectos</h1>

  <p>Aquí encontrarás algunos de mis trabajos recientes. (Crear un texto introductorio como en about)</p>
  <p>(Crear unas tarjetas como en experiencia pero para los proyectos)</p>
  <HelloComponent client:load />
</BaseLayout>
