---
import BaseLayout from "../layouts/BaseLayout.astro";
import HelloComponent from "../components/HelloComponent.jsx";
---

<BaseLayout activePage="projects">
  <h1 class="text-[3rem] font-bold text-center mt-16 mb-4">Mis Proyectos</h1>

  <p>
    Aquí encontrarás algunos de mis trabajos recientes. (Crear un texto
    introductorio como en about)
  </p>
  <p>(Crear unas tarjetas como en experiencia pero para los proyectos)</p>
  <HelloComponent client:load />
</BaseLayout>
