---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-3xl font-bold">Mis Proyectos</h1>
  <p>Aquí encontrarás algunos de mis trabajos recientes.</p>
</BaseLayout>
