.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* bg-white/80 */
  backdrop-filter: blur(8px); /* backdrop-blur-md */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
  border-bottom: 1px solid #d1d5db; /* border-b border-gray-300 */
  z-index: 50; /* Poner el Header a una posicion 50 al frente, con relacion a las demas capas */
}

.header-container {
  max-width: 1200px; /* container */
  margin: 0 auto; /* mx-auto */
  display: flex; /* flex */
  justify-content: center; /* justify-between */
  align-items: center; /* items-center */
  padding: 1rem; /* p-4 */
}

.header h1 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 700; /* font-bold */
  color: #3b82f6; /* text-gray-800 */
}
