---
import './Navbar.css';
---

<nav>
  <ul class="navbar">
    <li>
      <a href="/" class="nav-link">Inicio</a>
    </li>
    <li>
      <a href="/about" class="nav-link">Sobre mí</a>
    </li>
    <li>
      <a href="/projects" class="nav-link">Proyectos</a>
    </li>
  </ul>
</nav>

  