.navbar {
    display: flex;
    gap: 1.5rem; /* Adjust the space between items as needed */
  }
  
  .nav-link {
    color: #4a4a4a; /* text-gray-700 */
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s;
  }
  
  .nav-link:hover {
    color: #3b82f6; /* hover:text-blue-500 */
    border-color: #3b82f6; /* hover:border-blue-500 */
  }
  