<footer class="bg-gray-800 text-white p-4 mt-8">
    <div class="container mx-auto text-center">
      <p>&copy; 2025 Yimmy Muñoz. Todos los derechos reservados.</p>
      <div class="mt-2">
        <a href="https://twitter.com/tu-usuario" class="mx-2 hover:underline">Twitter</a>
        <a href="https://github.com/tu-usuario" class="mx-2 hover:underline">GitHub</a>
        <a href="https://linkedin.com/in/tu-usuario" class="mx-2 hover:underline">LinkedIn</a>
      </div>
    </div>
  </footer>