.footer {
  width: 100%;
  background-color: #3b82f6;
  color: white;
  padding: 1rem 0;
  margin-top: 2rem;
  text-align: center;
}

.footer p {
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.links a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.links a:hover {
  color: #ea9d8b;
  opacity: 0.75;
  font-weight: bold; /* Texto en negrita */
}

.icon {
  width: 18px;
  height: 18px;
}