---
import './Footer.css';
---

<footer class="footer">
  <p>© 2025 Yimmy Muñoz. Todos los derechos reservados.</p>
  <div>
    <a href="https://github.com/yimmi4000dev">GitHub</a>
    <a href="https://www.linkedin.com/in/yimmy-munoz-dev/">LinkedIn</a>
  </div>
</footer>
