---
import './Footer.css';
---

<footer class="footer">
  <p>© 2025 Mi Portafolio - Todos los derechos reservados.</p>
  <div>
    <a href="https://github.com/tuusuario">GitHub</a>
    <a href="https://linkedin.com/in/tuusuario">LinkedIn</a>
  </div>
</footer>
