---
import "./Footer.css";
---

<footer class="footer">
  <p>© 2025 Yimmy Muñoz. Todos los derechos reservados.</p>
  <div class="links">
    <a href="https://github.com/yimmi4000dev" target="_blank">
      <img
        src="src/assets/images/github-png.png"
        alt="GitHub"
        class="icon"
      />
      GitHub
    </a>
    <a href="https://www.linkedin.com/in/yimmy-munoz-dev/" target="_blank">
      <img
        src="src/assets/images/linkedin-png.png"
        alt="LinkedIn"
        class="icon"
      />
      LinkedIn
    </a>
  </div>
</footer>
