---
import "./Experience.css";
const { title, description, time, technologies = [] } = Astro.props;
---

<div class="experience">
  <!--Tiempo de duracion de la experiencia -->
  <p class="p_date"><b>│ </b>{time}</p>

  <!--Titulo de la experiencia -->
  <h1>{title}</h1>

  <!--Descripcion de la experiencia -->
  <p class="p_description">{description}</p>

  <!--Habilidades utilizadas -->
  <div class="tech-container">
    {
      technologies.map((tech: string) => {
        return <span class="tech-badge">{tech}</span>;
      })
    }
  </div>
</div>
