/* Estilo para la tarjeta Experience */
.experience {
  margin-bottom: 2rem;
  /* margin-top: 3rem; */
  padding: 20px;
  border: 0.5px solid #ccc;
  border-radius: 0.5rem;
  /* box-shadow: 0 2px 5px rgb(0, 0, 0); */
  /* margin: 20px; */
}

.experience:hover {
  background-color: #f8faff; /* Fondo gris claro al pasar el mouse */
  box-shadow: 0 0px 50px #ececec;
}

.experience:hover h1 {
  color: #6399a4;
}

.p_date {
  font-size: 1rem;
  color: #727272;
  margin-bottom: 0.25rem;
}

.experience h1 {
  font-size: 1.5rem;
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 0.5rem;
  color: #4a4a4a;
}

.p_description {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #4a4a4a;
  text-align: justify;
}

/* Estilo el contenedor de los nombres de las tecnologias utilizadas */
.tech-container {
  display: flex; /* Alinear en fila */
  flex-wrap: wrap; /* Permite que los elementos se acomoden en varias líneas si es necesario */
  gap: 8px; /* Espacio entre las etiquetas */
}

/* Estilo para las tecnologias utilizadas */
.tech-badge {
  background-color: #3b82f6; /* Fondo oscuro */
  color: rgb(255, 255, 255); /* Texto blanco */
  padding: 4px 10px; /* Espaciado interno */
  border-radius: 0.5rem; /* Bordes redondeados */
  font-size: 0.8rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  display: inline-block; /* Mantener el tamaño del contenido */
}
